<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.fabiorogeriosj.sensors"
        version="0.7.0">

  <name>Sensors</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/sensors.js" target="js/sensors.js"/>

  <js-module src="www/sensors.js" name="sensors">
    <clobbers target="sensors" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Sensors">
        <param name="android-package" value="com.fabiorogeriosj.plugin.Sensors"/>
      </feature>
    </config-file>

    <source-file src="src/android/Sensors.java" target-dir="src/com/fabiorogeriosj/plugin/"/>
  </platform>


</plugin>